@import url('/css/header.css');
@import url('/css/footer.css'); 
@import url('/css/portfolio_grid.css'); 
@import url('/css/portfolio_article.css'); 
@import url('/css/form.css'); 

:root {
  --primary-color: #000000;  
  --secondary-color: #00000082; 
  --active-color: #9effc6; 
  --background-color: #fffdef;
  --text-color: #333;
  --border-thin: 1px solid black;
  --border-radius: 8px;
}


body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}



.main-content {
  flex: 1; 
  padding: 20px;
}




